aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
chardet==4.0.0
idna==3.2
multidict==5.1.0
PyYAML==5.4.1
sgmllib3k==1.0.0
soupsieve==2.2.1
typing-extensions==3.10.0.0
yarl==1.6.3
feedparser>=6.0.10
mysql-connector-python>=8.0.30
Pillow>=9.2.0
requests>=2.28.1